/*RESET PARAMS*/

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}
/*END OF RESET*/

.blog-row {
    display: block;
    margin-top: 3rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10rem;
    margin-left: 20%;
    letter-spacing: 0.2rem;
}
.label span{
    color: #e4225c;
}

.blog-card {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 3rem auto;
    max-width: 55rem;
    align-items: center;
}

.blog-card:hover {
    /* border-left: 1px solid #0A223E; */
    height: 100%;
    transition: 0.3s;
}

.blog-card:hover .blog-readmore {
    color: #e4225c;
    font-weight: 400;
    transition: 0.25s;
}

.blog-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
}

.blog-logo h1 {
    font-size: 6rem;
    color: #455365;
}

.blog-logo h4 {
    font-size: 1.5rem;
    color: #D3D3D3;
    letter-spacing: 0.1rem;
    font-weight: 400;
}
.blog-details {
    padding-top: 4%;
    padding-right: 4%;
    width: 80%;
}

.blog-date {
    display: block;
    font-size: 0.7rem;
    font-weight: 100;
    color: #D3D3D3;
}

.blog-title {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
    font-weight: 500;
}


.blog-content-preview {
    display: block;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #464646;
    font-weight: 100;
    padding-bottom: 2rem;
}

.blog-readmore {
    float: right;
    font-size: 0.6rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #c9c9c9;
    padding: 0.2rem 0.7rem;
    transition: 0.2s;
    
}

.pagination {
    margin: 2rem auto;
    justify-content: space-evenly;
    width: 10%;
    display: flex;
}

.pagination h1 {
    padding: 0.5rem 1rem;
    border: 0.1rem solid #e4225c;
    transition: 0.25s;
    color: #464646;
}

.pagination h1:hover {
    padding: 0.5rem 1rem;
    border: 0.1rem solid #e4225c;
    background-color: #e4225c;
    color: white;
    cursor: pointer;
}

/*MEDIA SCREEN FOR BLOGCARD */
@media screen and (max-width: 1068px) {
    .blog-card {
        max-width: 55rem;
    }
}

@media screen and (max-width: 840px) {
    .blog-card {
        flex-direction: column;
        max-width: 29rem;
    }

    .blog-logo {
        display: none;
    }

    .social-media {
        width: 40%;
    }

}

@media screen and (max-width: 400px) {
    .blog-card {
        flex-direction: column;
        max-width: 23.3rem;
    }

    .blog-logo {
        display: none;
        /* min-width: 23.3rem;
        max-width: 23.3rem;
        width: 23.3rem; */
    }

}

/*END MEDIA SCREEN FOR BLOG CARD*/
