#footer {
    position: relative;
    padding: 10px;
    margin-top: 2rem;
    height: 30px;
    text-align: center;
}

#footer h3 {
    margin: 0 auto;
    font-size: 0.7rem;
    font-weight: 300;
    color: #FFFFFF;
}