
/*HEADER STYLE*/
.header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    /* background: url('../assets/header.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.header-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.heading{
    display: flex;
    flex-direction: column;
    vertical-align: middle; 
    width: 100%;
    max-width: 55rem;
    min-width: 55rem;
}

.logo {
    height: 17rem;
    width: 17rem;
    margin: 0 auto;
    animation: moveFromTop;
    animation-duration: 1s;
}

.heading-primary {
    padding-top: 3vh;
    padding-bottom: 8vh;
    margin: 0 auto;
    align-items: center;
    color: #363636;
    animation: moveFromTop;
    animation-duration: 1s;
}

.heading-primary-main {
    display: block;
    width: 70%;
    margin-left: 2rem;
    margin: 0 auto;
    font-family: Open Sans;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2.7rem;
    text-align: center;
}

.heading-primary-main .colored {
    color: #e21a56;
}

.heading-primary-sub {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 50;
    line-height: 1.5rem;
    text-align: center;
    color:  rgb(219, 219, 219);
    padding-bottom: 2rem;
    
}

.social-media {
    display: flex;
    margin: 0 auto;
    width: 40%;
    align-content: center;
}
.social-media i{
    text-align: center;
    margin: 0 auto;
}


/*END HEADER STYLE*/

/*ANIMATION*/
@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromBot {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/*END ANIMATION*/


/*MEDIA SCREEN FOR HEADER*/

@media screen and (max-width: 850px) {

    .heading{
        flex-direction: column;
        max-width: 29rem;
        min-width: 29rem;
    }

    .logo {
        height: 50%;
        width: 50%;
        margin: 0 auto;
    }

    .heading-primary {
        max-width: 29rem;
        min-width: 29rem;
        margin: 0 auto;
    }

    .heading-primary-main{
        width: 90%;
        font-size: 1.5rem;
        line-height: 2rem;
    }
   
    .blog-btn{
        display: block;
        padding: 1em 3em;
        margin: 0 auto;
    }
}


@media screen and (max-width: 575px) {

    .heading{
        flex-direction: column;
        max-width: 23.3rem;
        min-width: 23.3rem;
        font-size: 1rem;
    }

    .logo {
        height: 50%;
        width: 50%;
        margin: 0 auto;
    }

    .heading-primary {
        max-width: 20rem;
        min-width: 20rem;
        margin: 0 auto;
    }
   
    .blog-btn{
        display: block;
        padding: 1em 3em;
        margin: 0 auto;
        
    }

}
/*MEDIA SCREEN FOR HEADER*/

