.navbar-dark {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    color: white ;
    
}

.navbar-dark a {
    color: white;
    text-decoration: none;
}

.navbar-white {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

.navbar-white a {
    color: black;
    text-decoration: none;
}

.navbar-container {
    margin: 0 auto;
    opacity: 0;
    height: 5rem;
    width: 60%;
    padding-top: 2rem;
    animation: moveFromTop;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.navbar-logo{
    float: left;
    transition: 0.25s;
}
.navbar-links {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    float: right;
    transition: 0.25s;
    /* margin-right: 5%; */
}

.navbar-links a:hover {
    color: #e4225c;
    transition: 0.25s;
}

.active {
    color: #e4225c;
}

/*ANIMATION*/
@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromBot {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/*END ANIMATION*/

@media screen and (max-width: 600px) {
    .navbar-logo{
        display: none;
    }

    .navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}